[Unit]
Description=Journiv: journaling application
After=network.target postgresql.service

[Service]
Type=notify
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
KillMode=mixed
ExecStart=__INSTALL_DIR__/.venv/bin/python -m gunicorn app.main:app \
  -w 4 \
  -k uvicorn.workers.UvicornWorker \
  --bind 127.0.0.1:__PORT__ \
  --access-logfile - \
  --error-logfile -
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
