[Unit]
Description=Journiv: Journaling Application
After=network.target postgresql.service

[Service]
Type=notify
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
Environment="PATH=__INSTALL_DIR__/venv/bin"
ExecStart=__INSTALL_DIR__/venv/bin/gunicorn app.main:app \
  -w 4 \
  -k uvicorn.workers.UvicornWorker \
  --bind 127.0.0.1:__PORT__ \
  --access-logfile - \
  --error-logfile -
Restart=always
RestartSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
